html, body {
    width: 100% !important;
    overflow-x: hidden;
}
.a_none_style{
    text-decoration: none;
}
@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url("fonts/IBMPlexSans-Bold.ttf"); 
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url("fonts/IBMPlexSans-Regular.ttf"); 
    font-display: swap;
}
.regular{
    font-family: 'IBM Plex Sans Regular';
}
.bold{
    font-family: 'IBM Plex Sans Bold';
}
/* BACKGROUNDS */
.bg-index{
    background-image: url('../img/bg-index.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #fff;
    border-color: #000000;
}
.bg-negro{
    background-color: #000000;
    color: #fff;
    border-color: #000000;
}
.bg-degradado{
    background: rgb(51,51,51);
    background: radial-gradient(circle, rgba(51,51,51,1) 2%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
    color: #fff;
}
.bg-gris{
    background-color: #EDEDED;
    color: #000000;
}
.bg-footer{
    background-color: #717171;
    width: 100%;
    height: 40px;
}
.bg-gris-eficiencia{
    background-color: #EDEDED;
    color: #000000;
    height: 553px;
}
.bg-negro-problemas{
    background-color: #000000;
    color: #fff;
    border-color: #000000;
    height: 565px;
}
.bg-degradado-beneficios{
    background: rgb(51,51,51);
    background: radial-gradient(circle, rgba(51,51,51,1) 2%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
    color: #fff;
    width: 100%;
    height: 90vh;
}
/* TERMINAN LOS BACKGROUNDS */
/* TEXTOS */
.txt-index{
    margin-top:25rem;
    text-align: center;
}
.txt-estandarizacion p{
    line-height: 60%;
}
.txt-productividad p{
    line-height: 60%;
}
.txt-ganancias p{
    line-height: 60%;
}
.txt-importancia p{
    line-height: 90%;
    color: #000000;
}
.txt-contacto-1 p{
    line-height: 60%;
}
.contacto{
    color: #fff;
    font-family: 'IBM Plex Sans Regular';
}
.txt-gran-eficiencia p{
    line-height: 60%;
}
.txt-gran-eficiencia{
    margin-left: 5.5rem;
    margin-right: 3.5rem;
}
.txt-medir-mejora{
    margin-top: 10rem;
}
.txt-medir-mejora p{
    line-height: 70%;
}
.txt-aumentar-eficiencia p{
    line-height: 70%;
}
.txt-beneficios p{
    line-height: 70%;
}
.txt-beneficios h6{
    line-height: 70%;
}
.txt-metodologia p{
    line-height: 60%;
}
.txt-footer p{
    line-height: 60%;
}
.txt-derechos h6{
    font-size: 13px;
}
.txt-index-cel{
    margin-top: 10rem;
}
/* TERMINAN TEXTOS */
/* ICONOS E IMÁGENES */
.logo-medio{
    width: 200px;
}
.mail-menu img{
    width: 20px;
    margin-right: 1rem;
    margin-top: 0.2rem;
}
.telefono-menu img{
    width: 18px;
    margin-right: 1rem;
}
.verde-ch{
    width: 100px;
    border: 1.5px solid #51A543;
    background-color: #51A543;
    color: #51A543;
    opacity: 1;
}
.verde-md{
    width: 190px;
    border: 1.5px solid #51A543;
    background-color: #51A543;
    color: #51A543;
    opacity: 1;
}
.verde-gde{
    width: 190px;
    border: 1.5px solid #51A543;
    background-color: #51A543;
    color: #51A543;
    opacity: 1;
    margin: auto;
    margin-bottom: 5rem;
}
.computadora{
    position: relative;
}
.laptop{
    position: absolute;
    top: 14%;
    left: 0;
    width: 60%;
}
.txt-footer img{
    width: 180px;
    margin-bottom: 2rem;
}
/* TERMINAN ICONOS E IMÁGENES */ 
/* BOTONES */
.btn-conoce{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    width: 200px;
    font-family: 'IBM Plex Sans Regular';
}
.btn-conoce:hover{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    width: 200px;
    font-family: 'IBM Plex Sans Regular';
}
.btn-contacto:hover{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    width: 200px;
    font-family: 'IBM Plex Sans Regular';
}
.btn-conoce:focus{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    width: 200px;
    font-family: 'IBM Plex Sans Regular';
}
.btn-contacto:focus{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    width: 200px;
    font-family: 'IBM Plex Sans Regular';
}
.btn-contacto{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    width: 200px;
    font-family: 'IBM Plex Sans Regular';
}
/* TERMINAN BOTONES */
/* ANIMACIÓN DEL SCROLL */
.scroll-down i{
    opacity: 0;
    color: white;
    font-size: 1.5rem;
    animation: iconAnimation 1.5s infinite; 
}
@keyframes iconAnimation {
    0% {
      transform: translate(0,0); 
      opacity: 0;
    }
    33.33%{
      transform: translate(0,10px); 
      opacity: 0.3;
    }
    66.66% {
      transform: translate(0,20px);
      opacity: 0.6;
    }
    99.99%{
      transform: translate(0,30px);
      opacity: 0.9; 
    }
    100%{
      transform: translate(0,0); 
      opacity: 0.9;
    }
  }
/* TERMINA LA ANIMACIÓN DEL SCROLL */
/* FORMULARIO */
.contacto input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
.contacto textarea{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
/* TERMINA FORMULARIO */
.margen-{
    margin-left: 2rem;
}
.margen-2{
    margin-right: 2rem;
}
.margen-img{
    margin-left: 2rem;
    margin-right: 2rem;
}
/* RESPONSIVO */
@media only screen and (min-width:320px) and (max-width: 479px) {
    .margen-{
        margin-left: 0;
    }
    .txt-gran-eficiencia p{
        line-height: 115%;
    }
    .txt-beneficios p{
        line-height: 115%;
    }
}

@media only screen and (min-width:480px) and (max-width: 767px) {
    
}

@media only screen and (min-width:768px) and (max-width: 1023px) {
}

@media only screen and (min-width:1024px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
    .bg-degradado-beneficios{
        height: 110vh;
    }
    .laptop{
        top: 12%;
    }
}